.img {
    width: 80%;
    margin: 2% 8%;
}

#divMateria1 {
    max-width: 60%;
    margin: 12% auto;
}

.agradecimento {
    background-color: rgb(26, 155, 76);
    padding: 10px;
    text-align: center;
    font-size: 95%;
    color: white;
    width: 70%;
    margin: 3% 10%;
}

#anexo1 {
    margin: 4% auto;
}

@media (max-width: 980px) {
    #divMateria1 {
        max-width: 98%;
        margin-top: 20%;
    }
}

@media (max-width: 870px) {
    #divMateria1 {
        max-width: 98%;
        margin-top: 30%;
    }
}

@media (max-width: 480px) {
    #divMateria1 {
        max-width: 98%;
        margin-top: 45%;
    }
}